<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false">
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
    <testsuite name="Unit tests">
        <directory>tests/</directory>
    </testsuite>
</phpunit>
